<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="by.nepravskysm.mailclientforeveonline">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustNothing"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                <!--                 Example -->
                <!--                 Example callbeck eveauthmyschemename://myhostname/ -->
                <!--                 android:host="myhostname"-->
                <!--                 android:scheme="eveauthmyschemename"/>-->
                android:host="PAST_YOUR_HOST"
                android:scheme="PASR_YOUR_SCHEME"/>
            </intent-filter>
        </activity>

    </application>

</manifest>